<!doctype html>
<html lang="en">

<head>
    <title>NETUNO CONTRATISTAS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Cargando fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--Cargando Iconos-->
    <link rel="stylesheet" href="/contratistas-styles/css/fontawesome-all.css" type="text/css">

    <!--Cargar galeria de imagenes-->
    <link rel="stylesheet" href="/contratistas-styles/css/owl.carousel.min.css" type="text/css">

    <!--carga de archivos css-->
    <link rel="stylesheet" href="/contratistas-styles/css/bootstrap.css">
    <link rel="stylesheet" href="/contratistas-styles/css/animate.min.css">
    <link rel="stylesheet" href="/contratistas-styles/css/estilos.css">
