<header class="encabezado fixed-top" role="banner" id="encabezado">
    <div class="container">
        <a href="/index" class="logo">
            <img src="/contratistas-styles/images/Logo-Base-300x75-1-NETUNO.png" alt="Logo del titulo">
        </a>
        <button type="button" class="boton-buscar" data-toggle="collapse" data-target="#bloque-buscar" aria-expanded="false">
           <i class="fas fa-search"></i>
        </button>
        <button type="button" class="boton-menu d-md-none" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
           <i class="fas fa-bars" aria-hidden="true"></i>
       </button>
        <form action="#" id="bloque-buscar" class="collapse">
            <div class="contenedor-bloque-buscar">
                <input type="text" placeholder="Buscar...">
                <input type="submit" value="Buscar">
            </div>
        </form>
        <nav id="menu-principal" class="collapse">
            <ul>
                <!-- <li class="active"><a href="index.html">Inicio</a></li> -->
                <li ><a href="/index">Bandeja de Entrada</a></li>
                <li><a href="/contratos-pendientes">Contratos Pendientes</a></li>
                <li><a href="/archivo-de-contratos">Archivo de Contratos</a></li>
                <li><a href="Servicio.html">Servicio</a></li>
                <li><a href="/logout"> Cerrar Sesión</a></li>
            </ul>
        </nav>

    </div>

</header>
