<header class="encabezado fixed-top" role="banner" id="encabezado">
    <div class="container">
        <a href="/index" class="logo">
            <img src="/contratistas-styles/images/NetUno-Modificado-1.png" alt="Logo del titulo">
        </a>

        <nav id="menu-principal" class="collapse">
            <ul>
                <!-- <li class="active"><a href="index.html">Inicio</a></li> -->
                <li ><a href="/index">Bandeja de Entrada</a></li>
                <li><a href="/contratos-pendientes">Contratos Pendientes</a></li>
                <li><a href="/archivo-de-contratos">Archivo de Contratos</a></li>
                <li><a href="Servicio.html">Servicio</a></li>
                <li><a href="/logout"> Cerrar Sesión</a></li>
            </ul>
        </nav>

    </div>

</header>
