html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; 
  background-color: #fafafae3;
}

  .estadisticas{
    padding: 2%;
    width: auto;
  }

  .welcomers{
    padding-left: 2%; ;
    text-align: left;
    display: flex;
    margin-top: 10%;
  }

  .welcomers .nombre_contrat{
    font-weight: bold;
    padding: 1rem;
  }

  .welcomers h5{
    padding: 1rem;
  }
 .titulos{
    
    text-align: left;
    display: flex;
    padding: 1rem;
    color: #3de4e4;
    font-weight: bold;
  }
  #filtro-titulo{
    color: black;
  }

  label{
    cursor: text;
    
  }

  .contratos_firstview{
    margin: 2%;
    bottom: 10%;
    flex-direction: column;
  }

  .principal-table{
    padding: 1rem;
    margin-top: 1rem;
    width: 50rem;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 3rem;
    border-style: outset;
  }
  .principal-table thead{
    border-style: groove;
  }
  .principal-table thead tr th{ 
    padding: 1rem;
  }
  .principal-table tbody tr{
    border-color: #150d86;
    border-style: solid;
    box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2)
  }
  .principal-table tbody tr td{
    padding: 0.5rem;
  }

  .secondary-table{
    padding: 1rem;
    margin: 1rem;
    caption-side: top;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 3rem;
    border-style: outset;
  }
  .secondary-table thead{
    border-style: groove;
  }
  .secondary-table thead tr th{ 
    padding: 1rem;
  }
  .secondary-table tbody tr{
    border-color: #150d86;
    border-style: solid;
    box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2)
  }
  .secondary-table tbody tr td{
    padding: 0.5rem;
  }




.bienvenidos {
  color: #111111;
  
  background-color: #fafafae3;
  height: auto;
  display: flex;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;    
  flex-direction: column; }

.encabezado {
  background: #0074eb;
  color: #111111;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.encabezado.fondo-menu {
  background: #0074eb;
  padding: 1rem 0; 

}

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }


  .boton-update .botons-green {

    background: #468811;
    border-color: #24303c;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .boton-update{
    padding-left: 2%;
  }

  .botons-green{

background: #24303c;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #24c51f;
font-family: 'calibri';
font-size: 18px;
color: white;
  }
  .boton-update .botons-red {

    background: #881111;
    border-color: #24303c;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
  }
  

  .botons-red{

background: #24303c;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #c51f1f;
font-family: 'calibri';
font-size: 18px;
color: white;
  }

.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #111111; 
  position:absolute;
  right: 10px;
  top: 20px;
}

.boton-menu:focus {
  outline: 0; }

.boton-buscar {
  cursor: pointer;
  margin-left: auto;
  margin-right: .8rem; }

#bloque-buscar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #00cc00;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 1rem; }


#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #00cc00; }

.texto-encabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.texto-encabezado .display-4 {
  margin-top: 3rem; }

.texto-encabezado .display-4 .btn-primary {
  margin-top: 1rem; }

.btn-primary {
  color: #fff;
  background-color: #00cc00;
  border-color: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: #009500;
  border-color: transparent; }
  footer{
    width: 100%;
    position: flex;
    bottom: 0;
    background-color: rgb(230,230,230);
}

footer p{
    text-align: right ;
    margin: 0;
    padding: 1%;
    color: rgb(100,100,100);
}

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out  infinite;
          animation: flecha-animada 2s ease-in-out  infinite; }

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }


/* index */

      .formularios{
        background: linear-gradient(20deg, #100a6a -5%, #150d86  , #2c21d3  );
        width: 800px;
      }

      .boton-de-subir{
        align-items: right;
        text-align: right;
      }


      .boton-subir{
        text-align: right;
        padding-right: 1%;
        margin-right: 2%;
        
      }

      .form-filter{
        
        padding: 1%;
          
       }

      .form-filter input{
        padding: 2px;
        margin: 2px;
        border-style: none;
        border-radius: 15px;
      }
      .form-filter select{
        padding: 2px;
        margin: 2px;
        border-style: none;
        border-radius: 15px;
        
      }
      .form-filter #btn{
        border-radius: 2px;
        padding: 2px;
        margin: 2px;
        border-style:solid ;
        border-color: #009500;
        color: #ffffff;
        background-color: #119539;
        cursor: pointer;
      }
      .form-filter #btn:hover{
        background-color: #00cc00;

      }

      /* #100a6a , #150d86 , #3d31e7 */
      .form-limiter{

        padding: 1%;
      }

      .form-limiter select{
        padding: 2px;
        margin: 2px;
        border-style: inset;
        border-radius: 10px;
      }


@media (min-width: 768px) {
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #00cc00; 
    border-bottom: 4px solid; }

  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  }
@media (max-width: 992px) {
  
  .welcomers{
    margin-top: 20%;
  }

  .estadisticas{
    padding-top: 2%;
    width: auto;
  }
  .formularios{
    width:560px ;
    margin: 20px;
  }

  html {
    font-size: 16px; }

  .bienvenidos {
    background-color: #fff;
    
  }

  footer{
    width: 992px;
  }

  }

  @media (max-width: 600px){
    .estadisticas{
      padding-top: 5%;
      width: 460px;
    }
    .formularios{
      width: 460px ;
      margin: 20px;
    }

    .welcomers{
      margin-top: 20%;
    }

    .principal-table{
      padding: 0;
      margin-top: 1rem;
      width: 460px;
      caption-side: top;
      table-layout: auto;
      border-collapse: collapse;
      border-spacing: 3rem;
      border-style: outset;
    }
    .principal-table thead{
      border-style: groove;
    }
    .principal-table thead tr th{ 
      padding: 1rem;
    }
    .principal-table tbody tr{
      border-color: #150d86;
      border-style: solid;
      box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2)
    }
    .principal-table tbody tr td{
      padding: 0.5rem;
    }

  .form-filter{
    width: auto;
    align-items: center;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
    border-radius: 4px;
    color: white;
    
  }

    .secondary-table{
      padding: 0;
      margin: 1rem;
      display: inline-flex;
    }
    .secondary-table thead{
      border-style: groove;
      display: block;
    }
    .secondary-table thead tr{
      display: block;
    }
    .secondary-table thead tr th{ 
      font-size: 70%;
      padding-top: 10px;
      padding-bottom: 5px;
      padding-left: 7px;
      padding-right: 7px;
      display: flex;
      margin: 20px;
    }

    .secondary-table tbody tr{

      border-color: #150d86;
      border-style: solid;
      display:block;
    
    }
    .secondary-table tbody tr td{
     font-size: 70%;
      padding-top: 10px;
      padding-bottom: 5px;
      padding-left: 7px;
      padding-right: 7px;
      height: 2rem;
      display: flex;
      margin: 22px;
    }


    .contrat-status{
      align-items: center;
      width: 400px;
      padding: 30px;
    }

    .boton-update{
        width: 25rem;
        background: #101d14;
        padding: 3em;
        margin: auto;
        margin-top: 6em;
        margin-bottom: 6em;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
      
    }

    .boton-update a {
      
      background: #468811;
      border-color: #24303c;
      color: white;
      margin: 10rem 0;
      font-size: 16px;
      cursor: pointer;
      
    }
    
    .boton-update{
      padding-left: 2%;
    }
  
    .botons-green{
      background: #24303c;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 20px solid #24c51f;
      font-family: 'calibri';
      font-size: 18px;
     color: white;
    }
    .boton-update a {
  
      background: #881111;
      border-color: #24303c;
      color: white;
      margin: 16px 0;
      font-size: 16px;
      cursor: pointer;
    }
    
  
    .botons-red{
  background: #24303c;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 20px solid #c51f1f;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
 }
 footer{
  width: 600px;
}

 
  }

  @media (max-width:  470px){

    .estadisticas{
      padding: 2%;
      width: auto;

    }
    .principal-table{
      width: 340px ;
      margin: 10px;
      padding: 0;
      margin-top: 1rem;
      caption-side: top;
      table-layout: auto;
      border-collapse: collapse;
      border-spacing: 3rem;
      border-style: outset;
    }
    .formularios{
      width: 430px ;
      margin: 20px;
    }
    footer{
      width: 470px;
    }

  }